.slideshow-container {
    max-width: 65%;
    position: relative;
    margin: auto;
}

.img-carusel{
    width: 100%;
    border-radius: 15px;
}

.text-carusel {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active1 {
    background-color: #717171;
}


.fade {

    animation-name: fade;
    animation-duration: 3.5s;
}

.button-carusel{
    background-color:  #f7f8f9;
    color: #343434;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}