body {
    font-family: sans-serif, 'webtools';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:  #f7f8f9;

}

.menu-footer:hover{
    text-decoration: underline;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #9a9898;
}

.underline {
    text-decoration: underline;
}

.row1 {
    display: flex;
}

.fotter-bottom {
    padding: 0 50px
}

.card1 {
    width: 430px;
}

.material-icons.location {
    color: white;
    font-size: 16px;
}

.container1 {
    margin: 0;
    padding: 20px 50px;
}

.logo-footer {
    width: 200px;
    margin-bottom: 20px;
}

.call {
    color: white;
    background-color: #ff5543;
    padding: 12px 34px 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    border: none;
    line-height: initial;
}

.material-icons.adjust {
    color: white;

}

.material-icons.adjust + span {
    position: relative;
    top: -6px;
    left: 4px;
}

.fa.fa-instagram, .fa.fa-vk {
    font-size: 30px;
    color: white;
    margin: 5px ;
}


button.call.waves-effect {
    background-color: #ff5543;
}

.fa.fa-instagram:hover, .fa.fa-vk:hover {
    color: #ff5543;
}
.col.s12.m6.l3.padding-left{
    padding-left: 50px;
}

@media only screen and (max-width: 992px){
    .col.s12.m6.l3.padding-left{
        display: none;
    }
}



