@font-face {
  font-family: "HelveticaNeueLTProLt";
  src: url("../fonts/HelveticaNeueLTProLt.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeueLTProMd";
  src: url("../fonts/HelveticaNeueLTProMd.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeueLTProRoman";
  src: url("../fonts/HelveticaNeueLTProRoman.otf") format("opentype");
}
@font-face {
  font-family: "Merriweather-LightItalic";
  src: url("../fonts/Merriweather-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.menu__mobile {
  display: none;
}
.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item a {
  font-size: 13px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #989696;
  text-decoration: none;
  font-family: "Roboto-Regular", sans-serif;
  margin: 0 22px;
}
.active a {
  color: #010101;
}
.logo {
  margin: 0 13px;
}
.header__content {
  text-align: center;
}
.header__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 44px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin: 207px auto 4px;
}
.header__text {
  font-family: "Merriweather-LightItalic", sans-serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888;
  margin: 0 auto 43px;
}
.header__botton {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000000;
  text-decoration: none;
  width: 188px;
  height: 57px;
  border: 1px solid #000000;
  display: flex;
  margin: 0 auto 210px;
  justify-content: center;
  align-items: center;
}
/*about*/
.about {
  background: url("../img/buildings.png") center 101% repeat-x,
    url("../img/buildings__white_3165.png") center 101% repeat-x, #1d1d1d;
  background-size: contain, contain;
  min-height: 1129px;
  padding: 128px 0 271px;
}

.about__content {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  grid-gap: 178px;
  justify-content: center;
}
.about__title {
  width: 417px;
  height: 276px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__year {
  font-family: "HelveticaNeueLTProRoman", sans-serif;
  font-size: 48px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  margin-bottom: 27px;
}
.about__text {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #b7b7b7;
  margin: 0 13px;
  text-align: justify;
}
/*team*/
.team {
  height: 745px;
}
.block__head {
  text-align: center;
  padding-top: 138px;
  margin-bottom: 131px;
}
.block__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin: 0;
}
.block__text {
  font-family: "Merriweather-LightItalic", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #898888;
  margin: 0;
}
.team__inner {
  display: flex;
  justify-content: space-evenly;
}
.team__item {
  text-align: center;
}
.team__item-title {
  font-family: "HelveticaNeueLTProRoman", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #464646;
  margin: 22px 0 0;
}
.team__item-text {
  font-family: "HelveticaNeueLTProMd", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #b3b3b3;
  margin: 0;
}
.team__item-icon a {
  font-size: 20px;
  color: #e4e4e4;
  margin: 22px 0 0;
  transition: 0.2s;
}
.team__item-icon a:hover {
  color: #b7b5b5;
}
/*provide*/
.provide {
  height: 835px;
  background-color: #181818;
  padding-bottom: 155px;
}
.inverse {
  padding-top: 176px;
  margin-bottom: 160px;
}
.inverse .block__title {
  color: #ffffff;
}
.block__text .inverse {
  color: #777777;
}
.provide__inner {
  display: flex;
  justify-content: space-evenly;
}
.provide__item {
  text-align: center;
  max-width: 335px;
}
.provide__item-title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 31px;
}
.provide__item-text {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #383838;
  margin: 0;
}
.icon-heart,
.icon-chart-line,
.icon-upload-cloud {
  color: #ffffff;
  font-size: 63px;
}
.provide__icon {
  width: 172px;
  height: 172px;
  border: 6px solid #ffffff;
  border-radius: 100%;
  margin: 0 auto 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*contact*/
.contact__inner {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 152px;
}
.team__item {
  text-align: center;
  min-width: 140px;
}
.icon-phone,
.icon-mail,
.icon-location {
  font-size: 20px;
  color: #323232;
}
.contact__item-title {
  margin: 20px 0 0;
}
.contact__item-title a {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
  text-decoration: none;
  transition: 0.3s;
}
.contact__item-title a:hover {
  color: #676767;
  text-decoration: underline;
}
.contact .block__head {
  padding-top: 95px;
  margin-bottom: 64px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 770px;
}
.contact__name,
.contact__email,
.contact__number {
  height: 52px;
  border: 1px solid #999999;
  outline: #a25353;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}
.contact__message {
  height: 195px;
  border: 1px solid #999999;

  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #898888;
  margin-bottom: 20px;
  resize: none;
  padding: 22px;
}
.contact__button {
  border: none;
  outline: none;
  height: 52px;
  background-color: #161616;
  font-family: "HelveticaNeueLTProMd", sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  cursor: pointer;
}
.footer__text {
  padding-top: 154px;
  margin-bottom: 29px;
  text-align: center;
  font-family: "HelveticaNeueLTProRoman", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #3b3b3b;
}
/*media for Ipad*/
@media screen and (max-width: 769px) {
  .container {
    width: 769px;
  }
  .about {
    height: auto;
  }
  .about__content {
    grid-template-columns: max-content;
    grid-gap: 30px;
  }
  .block__head {
    padding-top: 70px;
    margin-bottom: 100px;
  }
  .team {
    height: auto;
    margin-bottom: 70px;
  }
  .provide {
    height: auto;
    padding-bottom: 70px;
  }
  .provide__item {
    text-align: center;
    max-width: 280px;
    padding: 10px;
  }
  .provide__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .icon-phone,
  .icon-mail,
  .icon-location {
    font-size: 40px;
    color: #323232;
  }
  .contact__item-title a {
    font-size: 15px;
  }
  .contact {
    height: auto;
  }
  .contact__inner {
    margin-bottom: 100px;
  }
  .footer__text {
    margin: 40px 0 20px;
    padding: 0;
  }
}
/*media for Iphone*/
@media screen and (max-width: 376px) {
  .container {
    width: 375px;
  }
  .menu__dekstop {
    display: none;
  }
  .menu {
    display: none;
    text-align: center;
  }
  .menu__mobile {
    display: flex;
    flex-direction: column;
  }
  .menu__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin: 0 -15px;
  }
  .menu__burger {
    width: 40px;
    height: 3px;
    background: #000000;
    position: relative;
    transition: background 0s 0.3s;
  }
  .menu__burger::before {
    content: "";
    width: 40px;
    height: 3px;
    background: #000000;
    position: absolute;
    top: 10px;
    cursor: pointer;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
  .menu__burger::after {
    content: "";
    width: 40px;
    height: 3px;
    background: #000000;
    position: absolute;
    bottom: 10px;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
  .menu__burger.close {
    background: none;
  }
  .menu__burger.close::after {
    bottom: 0;
    transform: rotate(45deg);
  }
  .menu__burger.close::before {
    top: 0;
    transform: rotate(-45deg);
  }
  .header__title {
    margin: 100px auto 4px;
  }
  .header__text {
    margin: 30px auto 43px;
  }
  .header__botton {
    margin: 0 auto 100px;
  }
  .about__title {
    max-width: 300px;
    max-height: 250px;
  }
  .bout {
    padding: 50px 0 50px;
  }
  .team__inner {
    flex-direction: column;
  }
  .block__head {
    margin-bottom: 30px;
  }
  .team__item {
    margin: 25px 0 0;
  }
  .provide__icon {
    margin: 0 auto;
  }
  .provide__item-title {
    margin-bottom: 5px;
  }
  .provide__item {
    padding: 30px 0 0;
  }
  .block__text {
    padding: 15px 30px 0;
  }
  .icon-phone,
  .icon-mail,
  .icon-location {
    font-size: 20px;
  }
  .contact__inner {
    flex-direction: column;
  }
  .contact__inner {
    margin-bottom: 50px;
  }
  .contact .block__head {
    padding-top: 50px;
    margin-bottom: 40px;
  }
}
